<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TipTocBeta</name>
    <description>
        What you are looking for, when do ypu wnat and where do you want
    </description>
    <author email="daniel.carvajal@cerebrum.co" href="http://cordova.io">
        Cerebrum team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Camera">
    	<param name="android-package" value="org.apache.cordova.CameraLauncher" />
	</feature>
</widget>
